# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.metadata/

# OS
.DS_Store
Thumbs.db

# Minecraft runtime
plugins/Nexus/world_templates/*
plugins/Nexus/cache/
!plugins/Nexus/maps/.gitkeep
!plugins/Nexus/schematics/.gitkeep
!plugins/Nexus/world_templates/.gitkeep
*.mca
*.mcc
eula.txt
server.properties
banned-*.json
ops.json
whitelist.json
usercache.json

# Logs
logs/
